# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
testenv/
.env

# Dataset
data/**/*.jpg
data/**/*.jpeg
data/**/*.png

# Operating system
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log